build
design/system_cfgs/system.cfg
output_img.csv
**.log
**/.*.sw*
**/core.*
**vitis*
**/.Xil
**/.nfs*
reports_dir
xpe_dir
logs
tags*
test_data/cfloat*
test_data/cint16*
design/aie/aiesim_data/*
design/pl/tb/dma_hls_testbench/*
